@{ 
    Script.Require("jQuery");

    using (Script.Foot())
    {
        <script type="text/javascript">
            var isResizing = false;

            $(function () {
                $("a#live-preview-start").on("click", function (event) {
                    $("html").addClass("live-preview-enabled");
                    $("body").trigger("contentchanged");

                    event.stopPropagation();
                });

                $("a#live-preview-close").on("click", function (event) {
                    $("html").removeClass("live-preview-enabled");

                    event.stopPropagation();
                });

                $("body").on("contentchanged", function () {
                    if (!$("html").hasClass("live-preview-enabled")) {
                        return;
                    }

                    $.post("@Url.Action("LivePreview", new { contentType = Model.ContentItem.ContentType })", $("form").serialize(), function (result) {
                        var iframe = $("#live-preview-frame")[0];

                        iframe.contentWindow.document.open('text/html', 'replace');
                        iframe.contentWindow.document.write(result);
                        iframe.contentWindow.document.close();
                    });

                });

                $("input, textarea, select").not(".no-live-preview").on("keyup change", function () {
                    $("body").trigger("contentchanged");
                });

                var container = $('.edit-item'),
                    leftCol = $('.edit-item-content'),
                    rightCol = $('.edit-item-right-column'),
                    handle = $('.resize-handle');

                handle.on('mousedown', function (e) {
                    isResizing = true;

                    //can we lay a div over the iframe?
                });

                $(document).on('mousemove', function (e) {
                    // we don't want to do anything if we aren't resizing.
                    if (!isResizing)
                        return;

                    var offsetRight = container.width() - (e.clientX - container.offset().left);

                    leftCol.css('margin-right', offsetRight + 24);
                    rightCol.css('width', offsetRight);
                }).on('mouseup', function (e) {
                    // stop resizing
                    isResizing = false;
                });
            });
        </script>
    }
}


<div class="resize-handle"></div>

<div class="actions">
    <a href="#" id="live-preview-start" class="button button-green hide-on-live-preview">@T("Live Preview")</a>
    <a href="#" id="live-preview-close" class="button button-green show-on-live-preview">@T("Close Live Preview")</a>
</div>

<iframe id="live-preview-frame" src="about:blank"> </iframe>